* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 0;
  
}

li, a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  font-weight: 500;
  font-size: 30px;
  
}

.logo-header {
  width: 200px;
  cursor: pointer;
}

.logo-footer {
  width: 150px;
  cursor: pointer;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(240, 8, 124);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 0;
}